html,
body,
#root {
  height: 100%;
}

#app {
  height: 100%;
  margin: 0 auto;
  max-width: var(--page-max-width);
  padding: var(--page-vertical-gap) var(--page-horizontal-gap);
  display: grid;

  grid-template-columns: 150px 1fr;
  grid-template-rows: minmax(auto, 50px) auto;
  grid-column-gap: var(--spacing-extra-large);
  grid-row-gap: var(--spacing-extra-small);

  grid-template-areas:
    "aside header"
    "aside main"
    "aside main";
}

header {
  grid-area: header;
}
.header__notification {
  cursor: pointer;
  position: relative;
}
.header__notification:hover .header__notification-list {
  opacity: 1;
  pointer-events: all;
}

aside {
  grid-area: aside;
}
main {
  grid-area: main;
}