html,
body {
  font: normal 400 var(--font-size-extra-medium) / var(--line-height-medium)
    var(--main-font);
  letter-spacing: 0;
  background-color: var(--color-background-html);
}
.main-title {
  font: var(--font-weight-semi-bold) var(--font-size-extra-large) /
    var(--line-height-extra-large) var(--main-font);
}

.sub-title {
  font: var(--font-weight-semi-bold) var(--font-size-medium) /
    var(--line-height-medium) var(--main-font);
}

.body-text {
  font: var(--font-weight-regular) var(--font-size-medium) /
    var(--line-height-medium) var(--main-font);
}

.small-text {
  font: var(--font-weight-medium) var(--font-size-small) /
    var(--line-height-small) var(--main-font);
}
