.form-media {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    column-gap: 0;
    row-gap: 10px;
    flex-wrap: wrap;

    padding: 16px 30px 16px 0px;
}

.form-media__item {
    width: 100%;
    max-width: 50%;
    flex-basis: 50%;
}

.form-media__button--disabled,
.form-media__button {
    border-radius: 12px;
    background: #0e9f6e;
    color: #ffffff;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0;
    text-align: left;
    width: fit-content;
    padding: 10px 20px;
    margin-right: auto;
    text-transform: uppercase;
    margin: 20px auto 0 auto;
}
.form-media__button--disabled {
    opacity: 0.6;
    pointer-events: none;
}
.form-media__row {
    width: fit-content;
}
.form-media__row--image h2 {
    font-size: 12px;
    text-align: left;
    margin-bottom: 15px;
}
.form-media__input {
    display: none;
}

.form-media__label {
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    flex-direction: column;
    padding: 40px;
    border-radius: 12px;
    border: 1px solid #000;
}