.pagination {
  margin-top: var(--spacing-medium);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: var(--spacing-extra-small);
}
.pagination-button {
  padding: var(--spacing-extra-small);
}

.pagination-button--active {
  background-color: var(--color-background-secondary);
}
